<footer>
    <div class="footer-content">
        <p>&copy; <span id="copyright-year">2026</span> Marek Maxa</p>
        <ul class="social-links">
            <li><a href="mailto:maxamarek1@gmail.com">Email</a></li>
            <li><a href="https://github.com/marek-maxa" target="_blank" rel="noopener noreferrer">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/marek-maxa-56b01a36a/" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
        </ul>
    </div>
</footer>
