<nav class="navbar">
    <div class="navbar-container">
        <span class="navbar-title">Marek Maxa</span>
        <ul class="navbar-links">
            <li><a href="/">Home</a></li>
            <li><a href="/pages/about.html">About</a></li>
            <li><a href="/pages/projects.html">Projects</a></li>
            <li><a href="/pages/blog.html">Blog</a></li>
            <li><a href="/pages/contact.html">Contact</a></li>
        </ul>
        <button id="darkmode-toggle" title="Darkmode/Lightmode">🌓</button>
    </div>
</nav>